:root{
    --LimeGreen: hsl(163, 72%, 41%);
    --BrightRed: hsl(356, 69%, 56%);
    --Facebook: hsl(208, 92%, 53%);
    --Twitter: hsl(203, 89%, 53%);
    --Instagram: linear-gradient( to right, #FDC468, #DF4996);
    --YouTube: hsl(348, 97%, 39%);
    --ToggleDark: linear-gradient( to left, hsl(210, 78%, 56%),hsl(146, 68%, 55%));
    --ToggleLight: hsl(230, 22%, 74%);

/*  Dark Theme */

    --VeryDarkBlueBG: hsl(230, 17%, 14%);
    --VeryDarkBlu: hsl(232, 19%, 15%);
    --DarkDesaturatedBlue: hsl(228, 28%, 20%);
    --DesaturatedBlue: hsl(228, 34%, 66%);
    --White: hsl(0, 0%, 100%);

/* Light Theme */

    --White: hsl(0, 0%, 100%);
    --VeryPaleBlue: hsl(225, 100%, 98%);
    --LightGrayishBlue: hsl(227, 47%, 96%);
    --DarkGrayishBlue: hsl(228, 12%, 44%);
    --VeryDarkBlue: hsl(230, 17%, 14%);

    --font: 'Inter', sans-serif
}

body{
    /* font-family: 'Inter', sans-serif; */
    background-color: var(--White);
    transition: all 0.4s linear;
}

h1{
    color: var(--VeryDarkBlue);
    margin: 1.5rem;
}

.up{
    color: var(--LimeGreen);
}
.down{
    color: var(--BrightRed);
}
.icon{
    margin:0px 0.5em;
}

header{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.toggleDiv{
    align-items: center;
    display: flex;
    font-family: var(--font);
    margin: 0px 1.5em;
}

.mode{
    color: var(--DarkGrayishBlue);
    font-weight: 700;
}

.switch-toggle{
    align-items: center;
    background:var(--ToggleLight);
    border-radius: 20px;
    border:none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 24px;
    justify-content: space-evenly;
    margin: 10px;
    position: relative;
    width: 50px;
}

.switch-toggle .toggle{
    background-color: white;
    border-radius: 50%;
    height: 20px;
    left: 0%;
    margin: 0px 3px;
    position: absolute;
    transition: left 0.4s linear;
    width: 20px;
}

.title{
    color: var(--VeryPaleBlue);
    font-family: var(--font);
}

.title h2{
    color: var(--DarkGrayishBlue);
    margin: 1.5rem;
}

.mainCards {
    display: grid;
    font-family: var(--font);
    gap: 2em;
    grid-template-columns: repeat(4, 1fr);
    margin: 1.5rem;
}

.mainCard{
    align-items: center;
    background-color: var(--LightGrayishBlue);
    border-radius: 10px;
    color: var(--DarkGrayishBlue);
    display: flex;
    flex-direction: column;
    position: relative;
}

.mainCard::before{
    border-radius: 10px 10px 0px 0px;
    content: "";
    height: 5px;
    position: absolute;
    width: 100%;
}

.mainCard.facebookCard::before{
    background-color: var(--Facebook);
}
.mainCard.twitterCard::before{
    background-color: var(--Twitter);
}
.mainCard.instagramCard::before{
    background: var(--Instagram);
}
.mainCard.youtubeCard::before{
    background-color: var(--YouTube);
}

.mainCard .header{
    align-items: center;
    display: flex;
    font-size: 10px;
    justify-content: center;
    margin: 1em 0px;
}

.mainCard h1{
    font-size: 40px;
    margin: 0.1em 0px 0px 0px ;
}

.mainCard h4{
    font-size: 0.8rem;
    font-weight: 100;
    letter-spacing: 0.2em;
    margin: 0.1em 0 1em;
    text-transform: uppercase;
}

.mainCard div:last-child{
    align-items: center;
    display: flex;
    font-size: 0.7em;
    font-weight: 500;
    margin: 2em 0em;
}


.secondaryCards{
    display: grid;
    gap: 2em;
    grid-auto-flow: column;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 1.5rem;
}

.secCard{
    align-items: center;
    background: var(--LightGrayishBlue);
    border-radius: 10px;
    color: var(--DarkGrayishBlue) ;
    display: grid;
    font-family: var(--font);
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding:1em 2em;
}

.secCard h2{
    font-size: 1em;
    font-weight: 500;
    margin: 0;
}

.secCard h1{
    font-size: 2.3em;
    margin: 0.1em 0; 
}

.secCard > :nth-child(2n){
    justify-self: end;
}

.secCard div{
    align-items: center;
    display: flex;
    font-size: 0.8em;
    font-weight: 700;
    justify-content: center;

}

/* DARK */

body.dark{
    background-color: var(--VeryDarkBlueBG);
    transition: all 0.4s linear;
}

.dark .mode{
    color:var(--DesaturatedBlue)
}

.dark .switch-toggle{
    background: var(--ToggleDark);
}

.dark .switch-toggle .toggle{
    background-color: var(--VeryDarkBlueBG);
    left: 50%;
}

.dark h1{
    color: var(--White);
    transition: all 0.4s linear;
}

.dark .mainCard, .dark .secCard{
    background-color: var(--DarkDesaturatedBlue);
    color: var(--DesaturatedBlue);
    transition: all 0.4s linear;
}

.dark .title{
    color: var(--White);
}

.dark .title h2{
    color: var(--DesaturatedBlue);
}


@media (max-width:850px){
    header{
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    h1{
        font-size: 1.5em;
    }

    .title h2{
        font-size: 1em;
    }

    .toggleDiv{
        width: 90%;
        justify-content: space-between;
        border-top: 1px solid var(--ToggleLight);
    }

    .mainCards{
        grid-template-columns: 1fr;
    }

    .secondaryCards{
        grid-auto-flow: row;
        grid-template-columns: 1fr;
    }
}
